{% extends "inherit.html" %}


{% block content %}
<div class="container p-5">
  <form action="/user/authorize/" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="name" class="form-control" aria-describedby="emailHelp" name="username" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn btn-primary" href="/login/discord/"><img src="https://img.icons8.com/fluent/21/000000/discord-new-logo.png"/> Login with discord</a>
  </form>
  <div class="pt-3">
    <p class="text-muted">Don't have an account? Sign up <a href="/signup/" class="text-reset">here</a>.</p>
  </div>
</div>

{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show m-5" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endblock %}
