{% extends "inherit.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row text-center">
    <div class="col p-4">
      <div class="card">
        <div class="card-header">
          Invite Code
        </div>
        <div class="card-body">
          <h5 class="card-title mt-2">{{user.invite or 'None'}} </h5>
            <form action="/user/invite/" method="POST">
              <input class="btn btn-outline-secondary" type="submit" value="Create invite code">
            </form>
          </div>
        </div>
        </div>
        <div class="col p-4">
          <div class="card">
            <div class="card-header">
              User Statistic
            </div>
            <div class="card-body">
              <h5 class="card-title">Username: {{user.username}} <br> Discord: {{user.external_id or 'None'}} <br> Admin: {{user.admin}}</h5>
              </div>
            </div>
            </div>
      </div>
      <div class="row text-center">
        <div class="col p-4">
          <div class="card">
            <div class="card-header">
              Reset Password
            </div>
            <div class="card-body">
                <form action="/user/reset/" method="POST">
                  <div class="mb-3">
                     <input type="password" class="form-control" name="password" required>
                   </div>
                  <input class="btn btn-outline-secondary" type="submit" value="Reset Password">
                </form>
              </div>
            </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col p-4">
              <div class="card">
                <div class="card-header">
                  Connect Discord Account
                </div>
                <div class="card-body">
                    <form action="/user/connections/" method="POST">
                      <div class="mb-3">
                         <input type="number" class="form-control" name="discord_id" required>
                       </div>
                      <input class="btn btn-outline-secondary" type="submit" value="Add Account">
                    </form>
                  </div>
                </div>
                </div>
              </div>
    </div>


{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show m-5" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endblock %}
